# ignore all files without extension
*
!/**/
!*.*

# ignore files with certain extensions
**/*.o
**/*.hi
**/*.swp
**/*.swo
**/*.pyc
**/.pylint.out

# mypy
**/.mypy_cache

google_test/build/*
google_code_jam/2017/round1a/contestants
**/project.progress
scheme_interpreter_written_in_haskell/wyasi48h.pdf
advent_of_code/merged.py
matasano_crypto_challenges/**/*.egg-info
rsync_experiment/A/large_file
rsync_experiment/.A.backup/large_file
rsync_experiment/B/large_file
