# ignore files without extensions
*
!*.*
!*/

# don't ignore Dockerfiles
!**/Dockerfile

# ignore C++ object files
**/*.o

# ignore Haskel's interface files
**/*.hi

# ignore Vim swap files
**/*.swp
**/*.swo

# ignore Python compilation files
**/*.pyc

# ignore default c/c++ binary files
**/a.out

# ignore build directories
**/build

# ignore MyPy cache
**/.mypy_cache

# ignore compiled Rust code
**/target

# ignore Python package .egg-info
**/*.egg-info
