**/*.pyc

advent-of-code/*.input binary
advent-of-code/*.example binary
advent-of-code/day-13-2-packet-scanners-old-run.txt binary

google_code_jam/**/*.out binary
google_code_jam/**/*.in binary
google_code_jam/**/*.ex binary

machine-learning/**/*.csv binary
machine-learning/**/*.xls binary

matasano-crypto-challenges/**/*.in binary

rsync_experiment/A/**/* binary
rsync_experiment/.A.backup/**/* binary
rsync_experiment/B/**/* binary
