# ignore all files without extension
*
!/**/
!*.*

# ignore files with certain extensions
**/*.o
**/*.hi
**/*.swp
**/*.swo
**/*.pyc
**/.pylint.out

google-test/build/*
**/project.progress
scheme-interpreter-written-in-haskell/wyasi48h.pdf
advent-of-code/merged.py
matasano_crypto_challenges/**/*.egg-info
