**/*.pyc

advent_of_code/**/*.input binary
advent_of_code/**/*.example binary
advent_of_code/2017/day-13-2-packet-scanners-old-run.txt binary

google_code_jam/**/*.out binary
google_code_jam/**/*.out1 binary
google_code_jam/**/*.out2 binary
google_code_jam/**/*.in binary
google_code_jam/**/*.in1 binary
google_code_jam/**/*.in2 binary
google_code_jam/**/*.ex binary
google_code_jam/**/*.ex1 binary
google_code_jam/**/*.ex2 binary
google_code_jam/2019/qualifications/primes.txt binary

machine_learning/**/*.csv binary
machine_learning/**/*.xls binary

matasano_crypto_challenges/**/*.in binary

junkyard/rsync_experiment/A/**/* binary
junkyard/rsync_experiment/.A.backup/**/* binary
junkyard/rsync_experiment/B/**/* binary

/**/*.in binary

kattis/**/*.in1 binary
kattis/**/*.in2 binary
