[submodule "the_c_programming_language_by_brian_and_ritchie"]
	path = the_c_programming_language_by_brian_and_ritchie
	url = https://github.com/hallgrimur1471/c
	branch = master
[submodule "parsec_in_haskell/parsec"]
	path = parsec_in_haskell/parsec
	url = https://github.com/haskell/parsec.git
	branch = master
